swagger: "2.0"
info:
  description: "OpenAPI definition for robotarm"
  version: "1.0.0"
  title: "Robot Arm"
  termsOfService: ""
  contact:
    email: "matthew99@gmail.com"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "randompi.raspberry.pi"
basePath: "/v1"
schemes:
- "http"
paths:
  /arm/grip:
    get:
      tags:
      - "grip"
      summary: "Get grip location"
      description: ""
      operationId: "readGrip"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/Location"
    put:
      tags:
      - "grip"
      summary: "Set grip location"
      description: ""
      operationId: "changeGrip"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Location object"
        required: true
        schema:
          $ref: "#/definitions/Location"
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/Location"
        405:
          description: "Invalid input"
  /arm/grip/torque:
    get:
      tags:
      - "grip"
      summary: "Get grip torque"
      description: ""
      operationId: "readGripTorque"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/State"
    put:
      tags:
      - "grip"
      summary: "Set grip torque"
      description: ""
      operationId: "changeGripTorque"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "State object"
        required: true
        schema:
          $ref: "#/definitions/State"
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/State"
        405:
          description: "Invalid input"
  /arm/wrist:
    get:
      tags:
      - "wrist"
      summary: "Get wrist location"
      description: ""
      operationId: "readWrist"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/Location"
    put:
      tags:
      - "wrist"
      summary: "Set wrist location"
      description: ""
      operationId: "changeWrist"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Location object"
        required: true
        schema:
          $ref: "#/definitions/Location"
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/Location"
        405:
          description: "Invalid input"
  /arm/wrist/torque:
    get:
      tags:
      - "wrist"
      summary: "Get wrist torque"
      description: ""
      operationId: "readWristTorque"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/State"
    put:
      tags:
      - "wrist"
      summary: "Set wrist torque"
      description: ""
      operationId: "changeWristTorque"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Sate object"
        required: true
        schema:
          $ref: "#/definitions/State"
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/State"
        405:
          description: "Invalid input"
  /arm/hand:
    get:
      tags:
      - "hand"
      summary: "Get hand location"
      description: ""
      operationId: "readHand"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/Location"
    put:
      tags:
      - "hand"
      summary: "Set hand location"
      description: ""
      operationId: "changeHand"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Location object"
        required: true
        schema:
          $ref: "#/definitions/Location"
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/Location"
        405:
          description: "Invalid input"
  /arm/hand/torque:
    get:
      tags:
      - "hand"
      summary: "Get hand torque"
      description: ""
      operationId: "readHandTorque"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/State"
    put:
      tags:
      - "hand"
      summary: "Set hand torque"
      description: ""
      operationId: "changeHandTorque"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "State object"
        required: true
        schema:
          $ref: "#/definitions/State"
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/State"
        405:
          description: "Invalid input"
  /arm/elbow:
    get:
      tags:
      - "elbow"
      summary: "Get elbow location"
      description: ""
      operationId: "readElbow"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/Location"
    put:
      tags:
      - "elbow"
      summary: "Set elbow location"
      description: ""
      operationId: "changeElbow"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Location object"
        required: true
        schema:
          $ref: "#/definitions/Location"
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/Location"
        405:
          description: "Invalid input"
  /arm/elbow/torque:
    get:
      tags:
      - "elbow"
      summary: "Get elbow torque"
      description: ""
      operationId: "readElbowTorque"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/State"
    put:
      tags:
      - "elbow"
      summary: "Set elbow torque"
      description: ""
      operationId: "changeElbowTorque"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "State object"
        required: true
        schema:
          $ref: "#/definitions/State"
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/State"
        405:
          description: "Invalid input"
  /arm/shoulder:
    get:
      tags:
      - "shoulder"
      summary: "Get shoulder location"
      description: ""
      operationId: "readShoulder"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/Location"
    put:
      tags:
      - "shoulder"
      summary: "Set shoulder location"
      description: ""
      operationId: "changeShoulder"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Location object"
        required: true
        schema:
          $ref: "#/definitions/Location"
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/Location"
        405:
          description: "Invalid input"
  /arm/shoulder/torque:
    get:
      tags:
      - "shoulder"
      summary: "Get shoulder torque"
      description: ""
      operationId: "readShoulderTorque"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/State"
    put:
      tags:
      - "shoulder"
      summary: "Set shoulder torque"
      description: ""
      operationId: "changeShoulderTorque"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "State object"
        required: true
        schema:
          $ref: "#/definitions/State"
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/State"
        405:
          description: "Invalid input"
  /arm/pivot:
    get:
      tags:
      - "pivot"
      summary: "Get pivot location"
      description: ""
      operationId: "readPivot"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/Location"
    put:
      tags:
      - "pivot"
      summary: "Set pivot location"
      description: ""
      operationId: "changePivot"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Location object"
        required: true
        schema:
          $ref: "#/definitions/Location"
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/Location"
        405:
          description: "Invalid input"
  /arm/pivot/torque:
    get:
      tags:
      - "pivot"
      summary: "Get pivot torque"
      description: ""
      operationId: "readPivotTorque"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/State"
    put:
      tags:
      - "pivot"
      summary: "Set pivot torque"
      description: ""
      operationId: "changePivotTorque"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "State object"
        required: true
        schema:
          $ref: "#/definitions/State"
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/State"
        405:
          description: "Invalid input"
definitions:
  Location:
    type: "object"
    properties:
      location:
        type: "number"
        format: "float"
  State:
    type: "object"
    properties:
      state:
        type: "boolean"
